@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qahiri&family=Zen+Tokyo+Zoo&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #293b5bba;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  width: 1024px;
  height: 100vh;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./images/image-lion-background.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

header {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: rgba(54, 205, 155, 0.627) 2px solid;
}

header nav {
  width: 50%;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  position: relative;
}

header nav ul li {
  width: 100%;
  font-size: 1.2rem;
  border: #1bd7d1 3px solid;
  padding: 5px;
  text-align: center;
  margin-right: 20px;
  height: auto;
}

header nav ul li:hover {
  background-color: #1bd7d1;
  cursor: pointer;
}

.dropdown a {
  text-decoration: none;
  color: white;
}

.dropdown ul {
  display: none;
}

.dropdown ul li {
  text-decoration: none;
}

.dropdown ul li a {
  text-decoration: none;
  color: white;
}

.dropdown:hover {
  background-color: #1bd7d1;
}

.dropdown:hover ul {
  width: 29.7%;
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -38px;
  margin-left: -8px;
}

.logo {
  -webkit-box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.097);
          box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.097);
}

.main {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main2 {
  min-height: 350px;
  padding-top: 30px;
}

.main2 > p {
  margin: 20px 0px;
  font-size: 1.2rem;
  color: #f7feff;
  font-style: italic;
}

.main2 form {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  height: auto;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 10px;
}

.main2 form .input-wrapper :focus {
  outline: none;
}

.main2 form .input-wrapper p {
  font-size: 0.8rem;
  color: burlywood;
}

.main2 form .input-wrapper label {
  font-size: 1.1rem;
  color: #cce7ee;
}

.main2 form .input-wrapper input[type="text"],
.main2 form .input-wrapper input[type="email"],
.main2 form .input-wrapper textarea {
  width: 100%;
  height: auto;
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #1bd7d1;
  color: white;
  border-radius: 5px;
}

.main2 form .input-wrapper input[type="text"] :focus,
.main2 form .input-wrapper input[type="email"] :focus,
.main2 form .input-wrapper textarea :focus {
  outline: none;
}

.main2 form .input-wrapper input[type="checkbox"] {
  -webkit-box-shadow: 0px 0px 0px 2.5px rgba(97, 66, 66, 0.779);
          box-shadow: 0px 0px 0px 2.5px rgba(97, 66, 66, 0.779);
  outline: 1px solid #1e5180;
}

.main2 form .input-wrapper textarea {
  margin-bottom: 10px;
  overflow: auto;
}

.main2 form input[type="submit"] {
  width: auto;
  height: auto;
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #1bd7d1;
  color: white;
  border-radius: 5px;
  margin-top: 3px;
}

#newsLabel {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.9rem;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cards {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card1 {
  background-image: url("./images/image-background-card1.jpg");
}

.card2 {
  background-image: url("./images/image-background-card2.jpg");
}

.card3 {
  background-image: url("./images/image-background-card3.jpg");
}

.card1,
.card2,
.card3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 250px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: hidden;
  -webkit-box-shadow: 10px 5px 15px rgba(55, 49, 49, 0.296);
          box-shadow: 10px 5px 15px rgba(55, 49, 49, 0.296);
}

.card1 a,
.card2 a,
.card3 a {
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  color: white;
  gap: 10px;
}

.card1 a h2,
.card2 a h2,
.card3 a h2 {
  font-size: 2rem;
}

.card1 a p,
.card2 a p,
.card3 a p {
  font-size: 1.2rem;
}

.card1 a i,
.card2 a i,
.card3 a i {
  padding-top: 30px;
}

.card1 a:hover,
.card2 a:hover,
.card3 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background-color: rgba(159, 76, 159, 0.296);
}

.herobox1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.herobox1 :nth-child(1) {
  font-size: 80px;
  color: #cbf375;
  font-family: "Zen Tokyo Zoo", cursive;
  margin-bottom: 1.5rem;
  text-shadow: 0px 0px 3px, rgba(152, 93, 93, 0.483) 4px 0px 10px;
  margin-bottom: 30px;
}

.herobox1 p {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: white;
  word-spacing: 9px;
  letter-spacing: 2px;
  font-family: "Qahiri", sans-serif;
  line-height: 0.9rem;
  font-family: "Zen Tokyo Zoo", cursive;
  text-shadow: 0px 0px 3px, rgba(255, 37, 37, 0.241) 4px 0px 10px;
}

.herobox1 :nth-child(3) {
  margin-top: 20px;
}

.btn {
  margin-top: 15px;
  outline: none;
  padding: 10px;
  background: turquoise;
  border: none;
  border-radius: 5px 50px 10px 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn:hover {
  background: #6656b9;
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-outline {
  background: transparent;
  border: 2px solid #1bd7d1;
}

.btn-outline:hover {
  background: #1bd7d1;
}

.herobox2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 0px 10px rgba(55, 49, 49, 0.676);
          box-shadow: 0px 0px 10px rgba(55, 49, 49, 0.676);
  border-radius: 10px;
}

.herobox2 img {
  border-radius: 10px;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.testimonial-content {
  width: 47%;
  padding: 50px;
  border: 1px solid rgba(201, 222, 174, 0.593);
  margin-top: 50px;
}

.testimonial-content *:last-of-type {
  font-size: 0.7rem;
  padding-left: 30px;
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: auto;
  }
  .container .main2 > h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    font-size: 1.8rem;
  }
  .container .main2 > p {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin: 3px 0;
    font-size: 1rem;
  }
  .container .main2 .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main2 form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: auto;
  }
  .container .main2 > h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    font-size: 1.8rem;
  }
  .container .main2 > p {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin: 3px 0;
    font-size: 1rem;
  }
  .container .main2 .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main2 form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
  header nav ul li {
    font-size: 1rem;
  }
  .main .herobox1 p {
    font-size: 1rem;
  }
  .main2 > h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    font-size: 1.8rem;
  }
  .main2 > p {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin: 3px 0;
    font-size: 1rem;
  }
  .main2 .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main2 form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .cards {
    min-height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card1,
  .card2,
  .card3 {
    width: 70%;
  }
  .card1 a h2,
  .card2 a h2,
  .card3 a h2 {
    font-size: 1.2rem;
  }
  .card1 a p,
  .card2 a p,
  .card3 a p {
    font-size: 1rem;
  }
  .testimonial {
    margin: 0 5px;
  }
}
/*# sourceMappingURL=main.css.map */